[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	create = group Application development
	push = +force group Application development
	pushMerge = group Application development
	label-Code-Review = -2..+2 group Application development
	label-Verified = -1..+1 group Application development
	submit = group Application development
[access "refs/for/refs/heads/*"]
	pushMerge = group Application development
